@font-face {
    font-family: 'Tw Cen MT Std';
    src: 'TwCenMTStd.otf';
}

body {
    font-family: 'Tw Cen MT Std', sans-serif;
    background-color: #333333;
    user-select: none;
    padding: 0;
    margin: 0;
}

div.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

div.cover {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
}

div.cover-title {
    font-size: 40px;
    text-align: center;
}

div.button#save-button {
    margin: 20px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: inline-block;
}

div.title {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    padding: 0;
    height: 60px;
    background-color: #ea4f2b;
    color: black;
}

div.title-text {
    display: inline-block;
    margin-top: 9px;
    padding: 10px;
    width: 40%;
}

img.usyd-logo {
    float: right;
    width: 100px;
    margin: 14px;
}

div.intro {
    text-align: center;
}

div.step {
    margin: 10px;
    transition: opacity 0.2s ease-in-out;
}

div.step-instructions {
    color: white;
    margin-bottom: 20px;
}

div.main-instruction {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
}

div.sub-instruction {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
}

.step-number {
    float: left;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 19px;
    line-height: 24px;
    padding: 5px;
    font-weight: bold;
    background-color: #ea4f2b;
    color: white;
    border-radius: 50%;
}

div.step.disabled {
    opacity: 0.3;
}

/* div.step.disabled div.step-number {
    filter: brightness(50%) saturate(50%);
} */

div.step.disabled div.upload-box {
    box-shadow: none;
    /* background-color: #2a2a2a; */
    cursor: default;
    /* border-color: #333333; */
}

div.upload-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    width: 315px;
    height: 75px;
    margin-left: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #828282;
    background-color: #222222;
    border: 2px solid #444444;
    transition: box-shadow 0.1s ease-in-out,
                color 0.1s ease-in-out,
                border-color 0.1s ease-in-out,
                background-color 0.1s ease-in-out;
    border-radius: 10px;
    -webkit-user-select: none;
    cursor: pointer;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

div.upload-box-text {
    text-align: left;
    height: 35px;
    margin-top: 4px;
}

.upload-box:not(.uploaded) .upload-status {
    line-height: 34px;
}

.upload-box.error {
    border-color: #e35050;
}

.upload-status {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    grid-row: span 2;
}

.upload-icon {
    float: left;
    width: 35px;
    height: 31px;
    margin-right: 10px;
    grid-row: span 2;
}

.upload-file {
    display: none;
    font-size: 10px;
}

.upload-box.uploaded .upload-file {
    display: block;
}

span.input-text {
    width: 100%;
    padding: 10px;
    text-align: center;
}

div.step:not(.disabled) > div.upload-box:not(.uploaded):not(.error):hover {
    border-color: #555555;
}

div.step:not(.disabled) div.upload-box.dragover {
    border-color: #50c2e3;
}

div.upload-box.uploaded {
    color: #50e3c2;
    background-color: #2a2a2a;
    border-color: #50e3c2;
}

div.upload-box.uploaded img {
    width: 33px;
    height: 33px;
}

div.button#merge-button {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-left: 45px;
    width: 135px;
    height: 40px;
    box-sizing: border-box;
    line-height: 21px;
    border-radius: 3px;
    background-color: #e64626;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
}

div.step:not(.disabled) div.button#merge-button:hover {
    filter: brightness(120%);
}

div.step.disabled div.button#merge-button {
    cursor: default;
    /* filter: brightness(50%) saturate(50%); */
}

#step-3 div.main-instruction {
    margin-top: 8px;
}

#step-3 div.step-instructions {
    margin-bottom: 12px;
}

div.error-tooltip {
    position: absolute;
    color: #828282;
    display: inline-block;
    top: calc(100% + 7px);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    padding: 5px;
    border: 2px solid #e35050;
    background: #333333;
    border-radius: 3px;
}

div.error-tooltip.hidden {
    opacity: 0;
}

div.error-tooltip:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #e35050;
	border-width: 5px;
	margin-left: -5px;
}